*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    color: aliceblue;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}


.main-list{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

.nav-prin{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
    height: 60px;
}

.nav-brand{
    width: 70px;
}

a{
    color: white; 
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav-prin ul{
    display: flex;

}

.nav-prin ul li{
    padding: 10px;
}

.nav-prin ul li a:hover{
    border-bottom: 2px solid white; 
}

.nav-prin h1 {
    font-size: 20px; /* Ajusta el tamaño del título */
    margin-left: 10px; /* Espacio entre la imagen y el texto */
    flex-grow: 1; /* Permite que el título use el espacio restante */
}

.main-desc-container { 
    display: flex; /* Usamos flexbox para dividir el espacio */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Deja espacio entre el texto y la imagen */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding-left: 10%; /* Añade un poco de separación desde el borde izquierdo */
    transform: translateY(-25px); 
}

.main-desc {
    max-width: 50%; /* Limita el ancho del párrafo a la mitad de la pantalla */
    line-height: 1.6; /* Mejora la legibilidad */
    font-size: 20px; /* Ajusta el tamaño del texto */
}

.main-image {
    max-width: 35%; /* Define el ancho máximo de la imagen */
    height: auto; /* Mantiene las proporciones de la imagen */
    margin-right: 5%; /* Espaciado adicional desde el borde derecho */
    border-radius: 50px;
}

body::before {
    content: ""; /* Crea un pseudoelemento vacío */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(marca.jpeg); /* Imagen de fondo */
    background-size: 900px 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: blur(1.3px); /* Ajusta el nivel de desenfoque */
    z-index: -1; /* Envía el pseudoelemento detrás del contenido principal */
    pointer-events: none;
}
